<!DOCTYPE html>
<html>
  <head>
    <title>Rock-paper-scissors-lizard-spock Game</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 18px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

      a  {color: #03c}
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }


      #page {
        background-color: #f0f0f0;
        width: 1250px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }

      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 1200px;
      }

      #footer {
        clear: both;
      }


      #header, #getting-started {
        padding-left: 115px;
        padding-right: 60px;
      }


      #header {
        background-image: url("images/rails.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 74px;
      }
      #header h1, #header h2 {margin: 0}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 15px;
		padding-top: 10px;
      }
 

    </style>
    <script type="text/javascript">
      function about() {
        info = document.getElementById('about-content');
        if (window.XMLHttpRequest)
          { xhr = new XMLHttpRequest(); }
        else
          { xhr = new ActiveXObject("Microsoft.XMLHTTP"); }
        xhr.open("GET","rails/info/properties",false);
        xhr.send("");
        info.innerHTML = xhr.responseText;
        info.style.display = 'block'
      }
    </script>
  </head>
  <body>
    <div id="page">
      <div id="content">
        <div id="header">
          <h1>Welcome to play Rock-paper-scissors-lizard-spock Game!</h1>
          <h2>You&rsquo;re riding Ruby on Rails!</h2>
        </div>

        <div id="getting-started">
          <h1>Getting started</h1>
          <h2>Here choose one that you want to play:</h2>
           
              <p><a href="/pages/rock">Play Rock</a><br></p>
              <p><a href="/pages/paper">Play Paper</a><br></p>
              <p><a href="/pages/scissors">Play Scissors</a><br></p>
              <p><a href="/pages/lizard">Play Lizard</a><br></p>
              <p><a href="/pages/spock">Play Spock</a><br></p>
          
        </div>
      </div>

    </div>
  </body>
</html>
