<h1>See the statistics</h1>


 <p>You tie <%= @t %> times</p>
 <p>You win <%= @w %> times</p>
 <p>You lose <%= @l %> times</p><br>
 <p><a href="/index">Continue Playing</a></p>
 <p><a href="/pages/home">Play the game again</a></p>