<!DOCTYPE html>
<html>
<head>
  <link href="assets/stylesheets/application.css" rel="stylesheet">
  <title>Roshambo</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
   <div class="container">
   <div class="span9">
    <h2>Instructions:</h2>
    <h3>Scissors cut paper, Scissors decapitate lizard</h3>
    <h3>Paper covers rock, Paper disproves Spock</h3>
    <h3>Rock crushes lizard, Rock crushes scissors</h3>
    <h3>Lizard poisons Spock, Lizard eats paper</h3>
    <h3>Spock smashes scissors, Spock vaporizes rock</h3>
   </div>
		
<%= yield %>
</div>
</body>
</html>
